<?xml version="1.0" ?>
<sdf xmlns:xacro="http://www.ros.org/wiki/xacro" version="1.10">
  <model name="garage">
    <pose>0 0 0 0 0 0</pose>
    <static>true</static>
    <link name="garage">

      <xacro:macro name="garage_stl">
        <geometry>
          <mesh>
            <uri>file:/$(env MODELS_DIR)/objects/garage/base1.stl</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
      </xacro:macro>

      <collision name="garage_collision">
        <xacro:garage_stl/>
      </collision>

      <visual name="garage_visual">
        <xacro:garage_stl/>
        <material>
          <script>
              <uri>file://media/materials/scripts/gazebo.material</uri>
              <name>Gazebo/Red</name>
          </script>
        </material>
      </visual>

    </link>
  </model>
</sdf>
