<?xml version="1.0" ?>
<sdf xmlns:xacro="http://www.ros.org/wiki/xacro" version="1.10">
<world name="field_world">

<xacro:include filename="$(env MODELS_DIR)/common/plugins.xacro" />
<xacro:include filename="$(env MODELS_DIR)/common/simple_light.xacro" />

<include>
    <uri>file:/$(env MODELS_DIR)/objects/field</uri>
    <pose>0 0 0 ${-pi/2} 0 0</pose>
</include>

<include>
    <name>pole_1</name>
    <uri>file:/$(env MODELS_DIR)/objects/marker</uri>
    <pose>1 0 0 0 0 0</pose>
</include>

<include>
    <name>pole_2</name>
    <uri>file:/$(env MODELS_DIR)/objects/marker</uri>
    <pose>0 1 0 0 0 0</pose>
</include>

<model name='rover'>
    <include>
         <uri>file:/$(env MODELS_DIR)/rover/rover.urdf</uri>
         <pose>0.0 0.0 0.3275 0.0 0 0.0</pose>
    </include>
</model>

</world>
</sdf>
