<include xmlns:xacro="http://www.ros.org/wiki/xacro">

<model name="ground_plane">
    <static>true</static>
    <link name="link">
        <collision name="collision">
        <geometry>
            <plane>
            <normal>0 0 1</normal>
            </plane>
        </geometry>
        </collision>
        <visual name="visual">
        <geometry>
            <plane>
            <normal>0 0 1</normal>
            <size>100 100</size>
            </plane>
        </geometry>
        <material>
            <script>
                <uri>file://media/materials/scripts/gazebo.material</uri>
                <name>Gazebo/Grey</name>
            </script>
        </material>
        </visual>
    </link>
</model>

</include>
