<include xmlns:xacro="http://www.ros.org/wiki/xacro">

<plugin
    filename="gz-sim-physics-system"
    name="gz::sim::systems::Physics">
</plugin>

<plugin
    filename="gz-sim-user-commands-system"
    name="gz::sim::systems::UserCommands">
</plugin>

<plugin
    filename="gz-sim-scene-broadcaster-system"
    name="gz::sim::systems::SceneBroadcaster">
</plugin>

<physics name="10ms" type="ignored">
    <max_step_size>0.01</max_step_size>
    <real_time_factor>1.0</real_time_factor>
</physics>

<plugin filename="gz-sim-imu-system"
        name="gz::sim::systems::Imu">
</plugin>

<plugin filename="gz-sim-sensors-system"
        name="gz::sim::systems::Sensors">
    <render_engine>ogre</render_engine>
</plugin>

</include>
