<?xml version="1.0" ?>
<sdf xmlns:xacro="http://www.ros.org/wiki/xacro" version="1.10">
<world name="plane_world">

<xacro:include filename="$(env MODELS_DIR)/common/plugins.xacro" />
<xacro:include filename="$(env MODELS_DIR)/common/simple_light.xacro" />
<xacro:include filename="$(env MODELS_DIR)/common/ground_plane.xacro" />
<xacro:include filename="$(env MODELS_DIR)/common/utils.xacro" />

<model name='rover'>
    <include>
         <uri>file:/$(env MODELS_DIR)/rover/rover.urdf</uri>
         <pose>0.0 0.0 0.5 0.0 0 0.0</pose>
    </include>
</model>

<include>
    <name>switch_wall</name>
    <uri>file:/$(env MODELS_DIR)/objects/test/switch_with_base</uri>
    <pose>5 0 1 0 0 0</pose>
</include>

<include>
    <name>door</name>
    <uri>file:/$(env MODELS_DIR)/objects/test/simple_door</uri>
    <pose>0 5 1 0 0 0</pose>
</include>

<include>
    <name>rotator_wall</name>
    <uri>file:/$(env MODELS_DIR)/objects/test/rotator_with_base</uri>
    <pose>0 -5 1 0 0 0</pose>
</include>

<plugin
    filename="${gazebo_systems_lib_dir}/libTriggerSystems.so"
    name="trigger_systems::DoorButton">
    <hinge_joint>door_to_door_base_joint</hinge_joint>
    <trigger_joint>button_to_door_base_joint</trigger_joint>
    <percentage_activated>50</percentage_activated>
    <opening_force>800</opening_force>
    <is_oneshot>true</is_oneshot>
</plugin>

</world>
</sdf>
