<?xml version="1.0" ?>
<sdf xmlns:xacro="http://www.ros.org/wiki/xacro" version="1.10">
<world name="plane_world">

<xacro:include filename="$(env MODELS_DIR)/common/plugins.xacro" />
<xacro:include filename="$(env MODELS_DIR)/common/simple_light.xacro" />
<xacro:include filename="$(env MODELS_DIR)/common/ground_plane.xacro" />
<xacro:include filename="$(env MODELS_DIR)/common/utils.xacro" />

<model name='explorer'>
    <include>
         <uri>file:/$(env MODELS_DIR)/explorer/explorer.urdf</uri>
         <pose>0.0 0.0 0.5 0.0 0 0.0</pose>
    </include>
</model>


<include>
    <uri>file:/$(env MODELS_DIR)/objects/garage</uri>
    <pose>5 0 0 0 0 0</pose>
</include>
<joint name="garage_to_world" type="fixed">
    <parent>world</parent>
    <child>garage::garage</child>
</joint>

<xacro:macro name="garage_door_trigger" params="name force">
    <plugin
        filename="${gazebo_systems_lib_dir}/libTriggerSystems.so"
        name="trigger_systems::DoorButton">
        <hinge_joint>garage_door_joint</hinge_joint>
        <trigger_joint>${name}_button_to_frame_joint</trigger_joint>
        <percentage_activated>50</percentage_activated>
        <opening_force>${force}</opening_force>
        <closing_force>0</closing_force>
        <is_oneshot>true</is_oneshot>
        <log_name>${name}</log_name>
        <do_log>false</do_log>
    </plugin>
</xacro:macro>

<xacro:garage_door_trigger name="outer_open" force="5000"/>
<xacro:garage_door_trigger name="outer_close" force="-5000"/>
<xacro:garage_door_trigger name="inner_open" force="5000"/>
<xacro:garage_door_trigger name="inner_close" force="-5000"/>

<include>
    <uri>file:/$(env MODELS_DIR)/objects/01-module</uri>
    <pose>-5 0 0 0 0 0</pose>
</include>
<joint name="module_to_world" type="fixed">
    <parent>world</parent>
    <child>module::module_base</child>
</joint>

<plugin
    filename="${gazebo_systems_lib_dir}/libTriggerSystems.so"
    name="trigger_systems::DoorButton">
    <hinge_joint>panel_door_joint</hinge_joint>
    <trigger_joint>door_rotator_rotator_to_frame_joint</trigger_joint>
    <percentage_activated>50</percentage_activated>
    <opening_force>100</opening_force>
    <closing_force>-100</closing_force>
    <is_oneshot>true</is_oneshot>
    <log_name>panel_door</log_name>
    <do_log>true</do_log>
</plugin>

</world>
</sdf>
